{% extends "base.html" %}

{% block content %}
  <h1>
    Newspaper list
  </h1>
  <br>
  {% if newspaper_list %}
    <ul>
      {% for newspaper in newspaper_list %}
        <li>
          <h3>
            <a href="{% url 'catalog:newspaper-detail' pk=newspaper.id %}">
            {{ newspaper.title }}
          </a>
          ({{ newspaper.topic }})
          </h3>
          {{ newspaper.published_date }}
        </li>
        <hr>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no newspapers</p>
  {% endif %}
{% endblock %}
