{% extends "layouts/base.html" %}

{% block content %}

  <section class="bg-primary text-white">

    <div class="section-header pb-6">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 text-center">
            <p class="text-muted">Newspaper id: {{ newspaper.id }}</p>
            <h1>Delete newspaper?</h1>
            <form action="" method="post">
              {% csrf_token %}

              <input type="submit" value="Yes, delete" class="btn btn-danger">
            </form>
          </div>
        </div>
      </div>
    </div>

  </section>

{% endblock %}
