{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Redactor list
  </h1>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>

  <br>
  {% if redactor_list %}
    <ul>
      {% for redactor in redactor_list %}
        <li>
          <a href="{% url 'catalog:redactor-detail' pk=redactor.id %}">
            {{ redactor.username }}
          </a>
          ({{ redactor.first_name }} {{ redactor.last_name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no redactors</p>
  {% endif %}
{% endblock %}
