{% extends "layouts/base.html" %}

{% block content %}

  <div class="section-header pb-0 bg-primary text-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
          <h1 class="display-3 mb-4">
            Username: {{ redactor.username }}
            <a href="{% url 'catalog:redactor-update' pk=redactor.id %}" class="btn btn-tertiary link-to-page">
              Update
            </a>
            <a href="{% url 'catalog:redactor-delete' pk=redactor.id %}" class="btn btn-danger link-to-page">
              Delete
            </a>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <main>

    <section class="section section-md">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="ml-3">
              <h4>Newspapers</h4>

              {% for newspaper in redactor.newspapers.all %}
                <hr>
                <p class="text-muted"><strong>Id:</strong> {{ newspaper.id }}</p>
                <p><strong>Title:</strong> {{ newspaper.title }}</p>
                <p><strong>Topic:</strong> {{ newspaper.topic }}</p>
                <p><strong>Date of publication:</strong> {{ newspaper.published_date }}</p>

              {% empty %}
                <p>No publications!</p>
              {% endfor %}
            </div>
          </div>
        </div>
    </section>

  </main>

{% endblock %}
