{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Topic list
  </h1>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>

  <br>
  {% if topic_list %}
    <ul>
      {% for topic in topic_list %}
        <li>
          {{ topic.name }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no topics</p>
  {% endif %}
{% endblock %}
